.card3D, .card2D{
    padding: 5rem; /*revert back to 0.5rem*/
    border-radius: var(--border-radius);
    border: 2px solid #000;

    gap: 1.2rem; /* Remove this */
    justify-items: center;
}

.card3D{
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0 #000;
}